{% load static %}

<H1>Example</H1>
<h2>Basic usage</h2>
<p>You can now easily print text mixing different
    styles : <B>bold</B>, <I>italic</I>, <U>underlined</U>, or
    <B><I><U>all at once</U></I></B>!<BR>You can also insert links
    on text, such as <A HREF="http://www.fpdf.org">www.fpdf.org</A>,
    or on an image: click on the logo.<br>
    <h3>Sample List</h3>
    <ul>
        <li>option 1</li>
        <ol>
            <li>option 2</li>
        </ol>
        <li>option 3</li>
    </ul>

    <table width="50%">
        <thead>
            <tr>
                <th width="30%">Header 1</th>
                <th width="70%">header 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cell 1</td>
                <td>cell 2</td>
            </tr>
            <tr>
                <td>cell 2</td>
                <td>cell 3</td>
            </tr>
        </tbody>
    </table>
</p>

{% load static %}

<div class="aLF-aPX-aPF-aPE-a1J-Jz-Jw">
    <h2 class="aLF-aPX-aPF-aPE-a1J-avC" tabindex="0">MONTHLY PROGRESS REPORT</h2>
    <hr />
    <p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 5.17677%; width: 43.7908%; height: 2.39899%;">MONTHLY PROGRESS REPORT</p>
    <p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.31373%; top: 10.4798%; width: 64.2157%; height: 2.0202%;">Date(s) of Contact (Month/Day/Year): {{ post.date_of_contact }} Coordinator Name: {{ post.coordinator }}</p>
    <p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 13.6364%; width: 64.2157%; height: 2.0202%;">Student’s Surname, Given Name: Host Family Name:
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 16.7929%; width: 25.4902%; height: 2.14646%;">STUDENT PROGRESS
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.31373%; top: 20.3283%; width: 21.2418%; height: 1.76768%;">STUDENT’S ENGLISH NAME:
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.31373%; top: 23.3586%; width: 79.902%; height: 1.89394%;">1) How are you getting along with your host family? Excellent Very Good Satisfactory Needs Improvement
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.31373%; top: 25.7576%; width: 7.67974%; height: 1.26263%;">Comments:
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 30.303%; width: 70.915%; height: 1.89394%;">2) Please tell me about one experience you had this month at school that differs from last month (REQUIRED).
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 36.2374%; width: 77.9412%; height: 1.89394%;">3) Please tell me about one experience you had this month with your host family that differs from last month (REQUIRED).
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 42.1717%; width: 49.3464%; height: 1.89394%;">4) Do you feel you are improving your conversational English? Yes No
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 44.0657%; width: 57.0261%; height: 1.89394%;">If yes, provide examples of how you have improved your conversational level of English:
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 50%; width: 67.3203%; height: 1.76768%;">If no, provide examples of areas you would like to improve upon to help strengthen your level of English:
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 57.8283%; width: 61.1111%; height: 1.89394%;">5) Have you made new American friends &amp; interests in the community or school? Yes No
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 59.8485%; width: 14.5425%; height: 1.76768%;">If yes, provide details:
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 66.6667%; width: 74.0196%; height: 1.89394%;">6) How do you feel you are doing in school? Excellent Very Good Satisfactory Needs Improvement
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 68.5606%; width: 27.2876%; height: 1.89394%;">What is your favorite subject this month?
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 70.5808%; width: 34.9673%; height: 1.89394%;">What subject are you having trouble with this month?
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 74.4949%; width: 61.1111%; height: 1.89394%;">7) Did you experience any issues this month with your host family or at school? Yes No
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.31373%; top: 76.3889%; width: 55.0654%; height: 1.89394%;">Is there anything you would like to talk about or need help with? Yes No
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 78.4091%; width: 14.7059%; height: 1.64141%;">Student’s Comments:
</p><p class="aLF-aPX-aPF-aPE-a1J-Ji" style="left: 9.15033%; top: 86.2374%; width: 47.3856%; height: 1.89394%;">Coordinator’s comments re: Student’s progress this month (REQUIRED):
</p>
</div>